shots/Shorts_NextLevel_v7_Phase2.json
{
    "name": "Shorts_NextLevel_v7_Phase2_Safety",
    "nodes": [
        {
            "parameters": {
                "content": "# Phase 2: Safety\n\nPhase 1 + 안전성\n\n## 추가 기능\n- Retry Logic\n- Error Logging\n- Fallback System\n- Rate Limit\n\n## 비용\n₩855/영상 (동일)",
                "height": 380,
                "width": 420,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "id": "sticky_info",
            "name": "Info"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "triggerAtHour": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                460,
                460
            ],
            "id": "trigger_schedule",
            "name": "Daily 6AM"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1",
                            "name": "kling_enabled",
                            "value": false,
                            "type": "boolean"
                        },
                        {
                            "id": "a2",
                            "name": "test_mode",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "a3",
                            "name": "topic",
                            "value": "커피에 설탕을 넣으면 혈관이 막힌다",
                            "type": "string"
                        },
                        {
                            "id": "a4",
                            "name": "max_retries",
                            "value": 3,
                            "type": "number"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                680,
                460
            ],
            "id": "config",
            "name": "Config"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Topic: {{ $json.topic }}\n\n30초 한국어 시니어 건강 쇼츠 스크립트를 작성하세요.\n\n# 출력 형식 (JSON만)\n{\n  \"narration\": \"<200-250자>\",\n  \"hook\": \"<15-20자>\",\n  \"cta\": \"<15-20자>\",\n  \"scenes\": [\n    {\"id\": 1, \"visual_type\": \"heaven\", \"duration\": 6, \"prompt\": \"<850-950자 Flux Ultra 프롬프트>\", \"overlay_text\": \"Heart Rate: 75\"},\n    {\"id\": 2, \"visual_type\": \"hell\", \"duration\": 6, \"prompt\": \"<850-950자>\", \"overlay_text\": \"WARNING\"},\n    {\"id\": 3, \"visual_type\": \"heaven\", \"duration\": 6, \"prompt\": \"<850-950자>\", \"overlay_text\": \"Energy+\"},\n    {\"id\": 4, \"visual_type\": \"hell\", \"duration\": 6, \"prompt\": \"<850-950자>\", \"overlay_text\": \"Plaque+\"},\n    {\"id\": 5, \"visual_type\": \"heaven\", \"duration\": 6, \"prompt\": \"<850-950자>\", \"overlay_text\": \"Stroke-\"}\n  ]\n}\n\nJSON만 출력. 마크다운 금지.",
                "options": {
                    "systemMessage": "시니어 건강 쇼츠 전문 작가. 반드시 유효한 JSON만 출력. 각 prompt는 850-950자. Heaven/Hell 대비 구조."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                900,
                460
            ],
            "id": "agent_script",
            "name": "Generate Script"
        },
        {
            "parameters": {
                "modelName": "gemini-2.5-flash"
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                900,
                640
            ],
            "id": "gemini_flash",
            "name": "Gemini 2.5 Flash"
        },
        {
            "parameters": {
                "jsCode": "let rawOutput = $json.output || \"\";\nrawOutput = rawOutput.replace(/```json\\s*/g, '').replace(/```\\s*/g, '');\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  return [{ json: { valid: false, error: \"No JSON\", fallback: true, data: {\n    narration: \"건강 정보입니다\",\n    scenes: [\n      {id: 1, visual_type: \"heaven\", duration: 6, prompt: \"healthy blood vessel POV, hyper-realistic, smooth blood flow, soft blue light, Medical HUD Heart Rate 75 BPM, 9:16, cinematic tracking, natural grain\", overlay_text: \"Heart: 75\"},\n      {id: 2, visual_type: \"hell\", duration: 6, prompt: \"clogged artery POV, hyper-realistic, thick blood, plaque, red warning light, Medical HUD WARNING High Viscosity, 9:16, shaky cam\", overlay_text: \"WARNING\"},\n      {id: 3, visual_type: \"heaven\", duration: 6, prompt: \"healthy cells, vibrant mitochondria, blue-green light, Medical HUD Energy Optimal, 9:16, smooth dolly\", overlay_text: \"Energy+\"},\n      {id: 4, visual_type: \"hell\", duration: 6, prompt: \"damaged cells, failing mitochondria, orange warning light, Medical HUD Plaque +60%, 9:16, shaky\", overlay_text: \"Plaque+\"},\n      {id: 5, visual_type: \"heaven\", duration: 6, prompt: \"healthy brain blood flow, clear vessels, blue-white neural activity, Medical HUD Stroke Risk -25%, 9:16, elegant tracking\", overlay_text: \"Stroke-\"}\n    ]\n  }}}];\n}\n\ntry {\n  const parsed = JSON.parse(jsonMatch[0]);\n  if (!parsed.narration || !parsed.scenes || parsed.scenes.length !== 5) {\n    throw new Error(\"Invalid structure\");\n  }\n  return [{ json: { valid: true, data: parsed } }];\n} catch (error) {\n  return [{ json: { valid: false, error: error.message, fallback: true, data: {\n    narration: \"시니어 건강 정보입니다\",\n    scenes: [\n      {id: 1, visual_type: \"heaven\", duration: 6, prompt: \"healthy blood vessel POV, hyper-realistic, smooth blood flow, soft blue light, Medical HUD Heart Rate 75 BPM, 9:16, cinematic tracking, natural grain\", overlay_text: \"Heart: 75\"},\n      {id: 2, visual_type: \"hell\", duration: 6, prompt: \"clogged artery POV, hyper-realistic, thick blood, plaque, red warning light, Medical HUD WARNING High Viscosity, 9:16, shaky cam\", overlay_text: \"WARNING\"},\n      {id: 3, visual_type: \"heaven\", duration: 6, prompt: \"healthy cells, vibrant mitochondria, blue-green light, Medical HUD Energy Optimal, 9:16, smooth dolly\", overlay_text: \"Energy+\"},\n      {id: 4, visual_type: \"hell\", duration: 6, prompt: \"damaged cells, failing mitochondria, orange warning light, Medical HUD Plaque +60%, 9:16, shaky\", overlay_text: \"Plaque+\"},\n      {id: 5, visual_type: \"heaven\", duration: 6, prompt: \"healthy brain blood flow, clear vessels, blue-white neural activity, Medical HUD Stroke Risk -25%, 9:16, elegant tracking\", overlay_text: \"Stroke-\"}\n    ]\n  }}}];\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                460
            ],
            "id": "validate",
            "name": "Validate JSON"
        },
        {
            "parameters": {
                "resource": "audio",
                "model": "gpt-4o-audio",
                "input": "={{ $json.data.narration }}",
                "voice": "onyx",
                "options": {
                    "speed": 1.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                1340,
                460
            ],
            "id": "tts",
            "name": "TTS"
        },
        {
            "parameters": {
                "fieldToSplitOut": "data.scenes",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                1340,
                640
            ],
            "id": "split_scenes",
            "name": "Split Scenes"
        },
        {
            "parameters": {
                "batchSize": 2,
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1560,
                640
            ],
            "id": "batch_limit",
            "name": "Batch (Rate Limit)"
        },
        {
            "parameters": {
                "url": "https://fal.run/fal-ai/flux-pro/v1.1-ultra",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Key YOUR_FAL_API_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"image_size\": {\"width\": 1080, \"height\": 1920},\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": false\n}"
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1780,
                640
            ],
            "id": "flux_generate",
            "name": "Flux Ultra"
        },
        {
            "parameters": {
                "amount": 12
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2000,
                640
            ],
            "id": "wait_gen",
            "name": "Wait 12S"
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-goog-api-key",
                            "value": "YOUR_GEMINI_API_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      {\"text\": \"Rate this image 1-10 for Body Horror or Gore. If > 6, return UNSAFE. If <= 6, return SAFE.\"},\n      {\"inline_data\": {\"mime_type\": \"image/jpeg\", \"data\": \"{{ $json.images[0].data }}\"}}\n    ]\n  }]\n}"
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2220,
                640
            ],
            "id": "gemini_vision",
            "name": "Gemini Vision"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.candidates[0].content.parts[0].text }}",
                            "operation": "contains",
                            "value2": "SAFE"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                2440,
                640
            ],
            "id": "safety_switch",
            "name": "Is Safe?"
        },
        {
            "parameters": {
                "jsCode": "const retryCount = $json.retryCount || 0;\nconst maxRetries = $('Config').item.json.max_retries;\n\nif (retryCount >= maxRetries) {\n  return [{ json: { action: \"use_fallback\", retryCount, reason: \"Max retries\" } }];\n}\n\nreturn [{ json: { ...$json, retryCount: retryCount + 1, action: \"retry\" } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2440,
                840
            ],
            "id": "retry_counter",
            "name": "Retry Counter"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_ERROR_LOG_SHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "timestamp": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
                        "scene_id": "={{ $json.id }}",
                        "error_type": "UNSAFE_IMAGE",
                        "retries": "={{ $json.retryCount }}"
                    }
                }
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                2660,
                840
            ],
            "id": "log_error",
            "name": "Log Error"
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition"
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                2880,
                550
            ],
            "id": "merge_all",
            "name": "Merge"
        },
        {
            "parameters": {
                "command": "=cd /tmp && for i in {1..5}; do curl -o image_$i.png \"{{ $json.images[$i-1].url }}\"; done && curl -o narration.mp3 \"{{ $('TTS').item.json.audio_url }}\" && ffmpeg -y -framerate 1/6 -i image_%d.png -i narration.mp3 -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,zoompan=z='min(zoom+0.0015,1.5)':d=125:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1080x1920,fps=60\" -c:v libx264 -pix_fmt yuv420p -c:a aac -b:a 192k -shortest output.mp4"
            },
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                3100,
                550
            ],
            "id": "ffmpeg",
            "name": "FFmpeg"
        },
        {
            "parameters": {
                "operation": "read",
                "fileSelector": "/tmp/output.mp4"
            },
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1,
            "position": [
                3320,
                550
            ],
            "id": "read_video",
            "name": "Read Video"
        },
        {
            "parameters": {
                "resource": "video",
                "operation": "upload",
                "title": "={{ $('Validate JSON').item.json.data.hook || '시니어 건강' }}",
                "categoryId": "27",
                "options": {
                    "description": "={{ $('Validate JSON').item.json.data.narration }}\\n\\n#시니어건강",
                    "privacyStatus": "private"
                }
            },
            "type": "n8n-nodes-base.youTube",
            "typeVersion": 1,
            "position": [
                3540,
                550
            ],
            "id": "youtube",
            "name": "YouTube"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_SHEETS_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "timestamp": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
                        "topic": "={{ $('Config').item.json.topic }}",
                        "video_url": "={{ $json.url }}",
                        "status": "Uploaded"
                    }
                }
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                3760,
                550
            ],
            "id": "log_success",
            "name": "Log Success"
        }
    ],
    "connections": {
        "Daily 6AM": {
            "main": [
                [
                    {
                        "node": "Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Config": {
            "main": [
                [
                    {
                        "node": "Generate Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Script": {
            "main": [
                [
                    {
                        "node": "Validate JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini 2.5 Flash": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Script",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate JSON": {
            "main": [
                [
                    {
                        "node": "TTS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Split Scenes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TTS": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Scenes": {
            "main": [
                [
                    {
                        "node": "Batch (Rate Limit)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch (Rate Limit)": {
            "main": [
                [
                    {
                        "node": "Flux Ultra",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Flux Ultra": {
            "main": [
                [
                    {
                        "node": "Wait 12S",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 12S": {
            "main": [
                [
                    {
                        "node": "Gemini Vision",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Vision": {
            "main": [
                [
                    {
                        "node": "Is Safe?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Safe?": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ],
                [
                    {
                        "node": "Retry Counter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Retry Counter": {
            "main": [
                [
                    {
                        "node": "Flux Ultra",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Error": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "FFmpeg",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FFmpeg": {
            "main": [
                [
                    {
                        "node": "Read Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Video": {
            "main": [
                [
                    {
                        "node": "YouTube",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube": {
            "main": [
                [
                    {
                        "node": "Log Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2025-11-24T09:15:00.000Z",
    "versionId": "v7-phase2-complete"
}