shots/Shorts_NextLevel_v7_Phase1.json
{
    "name": "Shorts_NextLevel_v7_Phase1",
    "nodes": [
        {
            "parameters": {
                "content": "# Phase 1: 핵심 기능\n\n## 포함\n- Gemini 2.5 Flash (무료)\n- Flux 1.1 Pro Ultra\n- FFmpeg Ken Burns\n- YouTube Upload\n\n## 비용\n₩850/영상\n\n## 테스트 모드\nConfig 노드에서\nkling_enabled: false",
                "height": 380,
                "width": 420,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                240,
                300
            ],
            "id": "sticky_info",
            "name": "Info"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "triggerAtHour": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                460,
                460
            ],
            "id": "trigger_schedule",
            "name": "Daily 6AM"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1",
                            "name": "kling_enabled",
                            "value": false,
                            "type": "boolean"
                        },
                        {
                            "id": "a2",
                            "name": "test_mode",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "a3",
                            "name": "topic",
                            "value": "커피에 설탕을 넣으면 혈관이 막힌다",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                680,
                460
            ],
            "id": "config",
            "name": "Config"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Topic: {{ $json.topic }}\n\n30초 한국어 시니어 건강 쇼츠 스크립트를 작성하세요.\n\n# 출력 형식 (JSON만)\n{\n  \"narration\": \"<200-250자 전체 스크립트>\",\n  \"hook\": \"<15-20자 충격 훅>\",\n  \"cta\": \"<15-20자 행동 유도>\",\n  \"scenes\": [\n    {\n      \"id\": 1,\n      \"visual_type\": \"heaven\",\n      \"duration\": 6,\n      \"prompt\": \"<Flux Ultra용 850-950자 초상세 프롬프트: first-person POV through healthy artery, hyper-realistic medical visualization, smooth flowing red blood cells, clean vessel walls, soft blue ambient lighting, Medical HUD overlay showing Heart Rate: 75 BPM, 9:16 aspect ratio, cinematic tracking shot, slight handheld camera feel, natural film grain>\",\n      \"overlay_text\": \"Heart Rate: 75\"\n    },\n    {\n      \"id\": 2,\n      \"visual_type\": \"hell\",\n      \"duration\": 6,\n      \"prompt\": \"<Flux Ultra용 850-950자: endoscopic camera POV inside clogged artery, hyper-realistic, thick viscous blood, yellowish plaque buildup, harsh red emergency lighting, Medical HUD showing WARNING: High Viscosity, 9:16 aspect ratio, claustrophobic close-up, shaky emergency cam>\",\n      \"overlay_text\": \"WARNING: Clogged\"\n    },\n    {\n      \"id\": 3,\n      \"visual_type\": \"heaven\",\n      \"duration\": 6,\n      \"prompt\": \"<850-950자>\",\n      \"overlay_text\": \"Antioxidant: +80%\"\n    },\n    {\n      \"id\": 4,\n      \"visual_type\": \"hell\",\n      \"duration\": 6,\n      \"prompt\": \"<850-950자>\",\n      \"overlay_text\": \"Plaque: +60%\"\n    },\n    {\n      \"id\": 5,\n      \"visual_type\": \"heaven\",\n      \"duration\": 6,\n      \"prompt\": \"<850-950자>\",\n      \"overlay_text\": \"Stroke Risk: -25%\"\n    }\n  ],\n  \"power_words\": [\"충격\", \"혈관\", \"건강\"],\n  \"emotional_trigger\": \"fear\"\n}\n\nJSON만 출력하세요. 마크다운 코드 블록 사용 금지.",
                "options": {
                    "systemMessage": "당신은 시니어 건강 쇼츠 전문 작가입니다.\n\n필수:\n1. 반드시 유효한 JSON만 출력\n2. 각 scene prompt는 850-950자 (Flux Ultra 품질 위해)\n3. 한국어 나레이션 200-250자\n4. Heaven/Hell 대비 구조\n\n금지:\n- 마크다운 ```json ``` 사용\n- 설명 텍스트 추가\n- JSON 외 다른 출력"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                900,
                460
            ],
            "id": "agent_script",
            "name": "Generate Script"
        },
        {
            "parameters": {
                "modelName": "gemini-2.5-flash"
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                900,
                640
            ],
            "id": "gemini_flash",
            "name": "Gemini 2.5 Flash"
        },
        {
            "parameters": {
                "jsCode": "// JSON 파싱 및 검증\nlet rawOutput = $json.output || \"\";\n\n// 마크다운 제거\nrawOutput = rawOutput.replace(/```json\\s*/g, '').replace(/```\\s*/g, '');\n\n// JSON 추출\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  return [{ \n    json: { \n      valid: false, \n      error: \"No JSON found\",\n      fallback: true,\n      data: {\n        narration: \"건강 정보를 알려드립니다.\",\n        scenes: [\n          {id: 1, visual_type: \"heaven\", duration: 6, prompt: \"healthy blood vessel POV\", overlay_text: \"Good\"},\n          {id: 2, visual_type: \"hell\", duration: 6, prompt: \"clogged artery POV\", overlay_text: \"Bad\"},\n          {id: 3, visual_type: \"heaven\", duration: 6, prompt: \"healthy cells\", overlay_text: \"Energy+\"},\n          {id: 4, visual_type: \"hell\", duration: 6, prompt: \"damaged cells\", overlay_text: \"Warning\"},\n          {id: 5, visual_type: \"heaven\", duration: 6, prompt: \"brain health\", overlay_text: \"Optimal\"}\n        ]\n      }\n    } \n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonMatch[0]);\n  \n  // 검증\n  if (!parsed.narration || !parsed.scenes || parsed.scenes.length !== 5) {\n    throw new Error(\"Invalid structure\");\n  }\n  \n  return [{ json: { valid: true, data: parsed } }];\n  \n} catch (error) {\n  return [{ \n    json: { \n      valid: false,\n      error: error.message,\n      fallback: true,\n      data: {\n        narration: \"시니어 건강 정보입니다.\",\n        scenes: [\n          {id: 1, visual_type: \"heaven\", duration: 6, prompt: \"First-person POV through healthy human artery, hyper-realistic medical visualization, smooth flowing vibrant red blood cells moving naturally, clean pristine vessel walls, soft blue ambient glow representing health, Medical HUD overlay displaying Heart Rate 75 BPM and Blood Pressure 120/80, 9:16 vertical aspect ratio optimized for mobile, cinematic smooth tracking shot moving forward through the artery, slight handheld camera feel for authenticity, natural film grain texture, professional medical documentary aesthetic\", overlay_text: \"Heart: 75 BPM\"},\n          {id: 2, visual_type: \"hell\", duration: 6, prompt: \"Endoscopic camera POV inside diseased artery, hyper-realistic clinical horror aesthetic, thick dark viscous blood flowing slowly, yellowish cholesterol plaque deposits blocking vessel walls, harsh red emergency lighting creating ominous atmosphere, Medical HUD overlay showing WARNING High Viscosity and Glucose 180mg/dL alerts, 9:16 vertical format, claustrophobic extreme close-up angle, shaky handheld emergency camera movement suggesting urgency, gritty medical realism, dramatic shadows highlighting danger\", overlay_text: \"WARNING\"},\n          {id: 3, visual_type: \"heaven\", duration: 6, prompt: \"Microscopic POV of healthy cells receiving oxygen and nutrients, hyper-realistic cellular visualization, vibrant mitochondria glowing with energy production, clean organized cellular environment, soft blue-green healing light, Medical HUD showing Oxidation -40% and Energy Production Optimal, 9:16 mobile format, smooth dolly camera movement, natural organic textures, hope and vitality visual language, BBC documentary quality cinematography\", overlay_text: \"Energy: Optimal\"},\n          {id: 4, visual_type: \"hell\", duration: 6, prompt: \"Damaged cells struggling under oxidative stress, hyper-realistic cellular breakdown visualization, failing dark mitochondria, chaotic disorganized environment with free radicals attacking, harsh orange warning ambient light, Medical HUD displaying Plaque +60% and Inflammation High, 9:16 aspect ratio, shaky unstable camera suggesting system failure, gritty texture, medical emergency aesthetic, visceral impact\", overlay_text: \"Plaque: +60%\"},\n          {id: 5, visual_type: \"heaven\", duration: 6, prompt: \"Healthy brain blood flow network, hyper-realistic neural pathway visualization, clear blood vessels efficiently delivering oxygen to active neurons, vibrant blue-white neural activity patterns, soft optimistic lighting, Medical HUD showing Brain Health Optimal and Stroke Risk -25%, 9:16 vertical format, elegant smooth tracking shot through neural pathways, professional medical imaging aesthetic, sense of clarity and cognitive health\", overlay_text: \"Stroke: -25%\"}\n        ]\n      }\n    }\n  }];\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                460
            ],
            "id": "validate",
            "name": "Validate JSON"
        },
        {
            "parameters": {
                "resource": "audio",
                "model": "gpt-4o-audio",
                "input": "={{ $json.data.narration }}",
                "voice": "onyx",
                "options": {
                    "speed": 1.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                1340,
                460
            ],
            "id": "tts",
            "name": "TTS"
        },
        {
            "parameters": {
                "fieldToSplitOut": "data.scenes",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                1340,
                640
            ],
            "id": "split_scenes",
            "name": "Split Scenes"
        },
        {
            "parameters": {
                "url": "https://fal.run/fal-ai/flux-pro/v1.1-ultra",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Key YOUR_FAL_API_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"image_size\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"num_inference_steps\": 28,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": false\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1560,
                640
            ],
            "id": "flux_generate",
            "name": "Flux Ultra"
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1780,
                550
            ],
            "id": "merge_all",
            "name": "Merge"
        },
        {
            "parameters": {
                "command": "=cd /tmp && \nfor i in {1..5}; do curl -o image_$i.png \"{{ $json.images[$i-1].url }}\"; done && \ncurl -o narration.mp3 \"{{ $('TTS').item.json.audio_url }}\" && \nffmpeg -y -framerate 1/6 -i image_%d.png -i narration.mp3 \\\n  -vf \"scale=1080:1920:force_original_aspect_ratio=decrease,pad=1080:1920:(ow-iw)/2:(oh-ih)/2,zoompan=z='min(zoom+0.0015,1.5)':d=125:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1080x1920,fps=60\" \\\n  -c:v libx264 -pix_fmt yuv420p -c:a aac -b:a 192k -shortest output.mp4"
            },
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                2000,
                550
            ],
            "id": "ffmpeg",
            "name": "FFmpeg Process"
        },
        {
            "parameters": {
                "operation": "read",
                "fileSelector": "/tmp/output.mp4",
                "options": {}
            },
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1,
            "position": [
                2220,
                550
            ],
            "id": "read_video",
            "name": "Read Video"
        },
        {
            "parameters": {
                "resource": "video",
                "operation": "upload",
                "title": "={{ $('Validate JSON').item.json.data.hook || '시니어 건강 정보' }}",
                "categoryId": "27",
                "options": {
                    "description": "={{ $('Validate JSON').item.json.data.narration || '건강 팁' }}\\n\\n#시니어건강 #건강정보 #노년건강",
                    "privacyStatus": "private",
                    "tags": "시니어건강,노년건강,건강팁,어르신건강"
                }
            },
            "type": "n8n-nodes-base.youTube",
            "typeVersion": 1,
            "position": [
                2440,
                550
            ],
            "id": "youtube_upload",
            "name": "YouTube Upload"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_SHEETS_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "timestamp": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
                        "topic": "={{ $('Config').item.json.topic }}",
                        "video_url": "={{ $json.url }}",
                        "status": "Uploaded"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                2660,
                550
            ],
            "id": "log_sheets",
            "name": "Log to Sheets"
        }
    ],
    "connections": {
        "Daily 6AM": {
            "main": [
                [
                    {
                        "node": "Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Config": {
            "main": [
                [
                    {
                        "node": "Generate Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Script": {
            "main": [
                [
                    {
                        "node": "Validate JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini 2.5 Flash": {
            "ai_languageModel": [
                [
                    {
                        "node": "Generate Script",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate JSON": {
            "main": [
                [
                    {
                        "node": "TTS",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Split Scenes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TTS": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Scenes": {
            "main": [
                [
                    {
                        "node": "Flux Ultra",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Flux Ultra": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "FFmpeg Process",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FFmpeg Process": {
            "main": [
                [
                    {
                        "node": "Read Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Video": {
            "main": [
                [
                    {
                        "node": "YouTube Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "YouTube Upload": {
            "main": [
                [
                    {
                        "node": "Log to Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2025-11-24T03:32:00.000Z",
    "versionId": "v7-phase1-2025-11-24"
}